deeplearningpracticevenv/
.vscode/
images/

/Users/johankarkaria/Documents/gen_ai_and_datascience_course/deeplearningpractice/data/FashionMNIST
bonus_dataset.csv
/Users/johankarkaria/Documents/gen_ai_and_datascience_course/deeplearningpractice/sonar.all-data
sonar.all-data